// color

$primary-color: #EC0047;
$pointP-color: #803BFF;
$pointY-color: #F6E136;
$pointB-color: #28BECD;
$color01: #EFF2D6;
$white: #ffffff; 
$black: #000000; 

$txt-color: #2F2F2F;
$txt3-color: #333333;
$txt4-color: #444444;
$txt5-color: #555555;
$txt6-color: #666666;
$txt7-color: #767676;
$txt9-color: #999999;
$txtb-color: #bbbbbb;
$txtf-color: #f0f0f0;
